{% load static %}

<!-- Footer Light Block
================================================== -->

<div class="section pt-4 background-dark-2 over-hide footer-1 dark z-bigger-2 pb-5">
    <div class="container ">
        <div class="row">
            <div class="col-md-8 pr-md-3 maps col-12" id="maps" style="background-image: url({% static 'img/maps.jpeg' %})">
            </div>
            <div class="col-md-3 col-12 mt-4 mt-md-0 logo-footer-100">
                <h4 class="text-white">Контакты</h4>
                <div class="separator-wrap">
                    <span class="separator"><span class="separator-line dashed"></span></span>
                </div>
                <ul class="list-style mt-3 mb-3">
                    <li><i class="fa fa-envelope-o"></i><a href="mailto:info@oxbridge.kz">info@oxbridge.kz</a></li>
                    <li><i class="fa fa-phone"></i><a href="tel:87475192787">+7(747)519-27-87</a></li>
                    <li><i class="fa fa-skype"></i><a href="skype:oxbridgestudy2017@gmail.com">oxbridgestudy2017@gmail.com</a></li>
                </ul>
                <ul class="footer-social" style="float: none">
                    <li class="twitter">
                        <a href="#">Tw</a>
                    </li>
                    <li class="facebook">
                        <a href="https://www.facebook.com/oxbridgestudy.astana">Fb</a>
                    </li>
                    <li class="google">
                        <a href="https://www.instagram.com/oxbridge_study_astana">Inst</a>
                    </li>
                    <li class="vimeo">
                        <a href="https://vk.com/oxbridgestudyastana">Vk</a>
                    </li>
                    <li class="twitter">
                        <a href="skype:oxbridgestudy2017@gmail.com">Skype</a>
                    </li>
                </ul>
                <div class="separator-wrap">
                    <span class="separator"><span class="separator-line dashed"></span></span>
                </div>
            </div>
        </div>
    </div>
</div>